@model Products.Models.Product

<h1>Delete Product</h1>

<div>
    <h4>Id: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Category: @Model.Category</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Stock Quantity: @Model.StockQuantity</h4>
    <h4>Manufacturer: @Model.Manufacturer</h4>
</div>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger">Delete</button> | <a asp-action="Index">Back to List</a>
</form>
